.button {
  font-size: 18px;
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #fff;
  background-color: #4180ff;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #333333;
}
