@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins/text.scss";
@import "../../../../assets/scss/mixins/flex.scss";

.cardDetails {
  padding-top: 70px;

  &Head {
    @include flexDefault;
    align-items: center;
    justify-content: space-between;
  }

  &Title {
    @include title;
    margin-bottom: 20px;
  }

  &Content {
    padding: 30px;
    box-shadow: 0 0 20px $color-shadow;
    border-radius: 12px;
    background-color: $color-black;
  }

  &Subtitle {
    @include subTitle;
    color: $color-gold;
    margin-bottom: 15px;
  }

  &Description:not(:last-child) {
    margin-bottom: 5px;
  }

  &Description {
    @include description;
    color: $color-white;
  }

  &Actions {
    @include flexDefault;
    align-items: center;
    justify-content: space-between;
  }

  &Link {
    @include description;
    color: $color-gold;
  }

  &Button {
    @include quote;
    color: $color-white;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 3px 20px;
    background-color: $color-gold;
    box-shadow: 0 5px 10px $color-shadow-gold;
    border-radius: 12px;
    transition: background-color 0.12s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }

  &Button:hover {
    box-shadow: 0 7px 20px $color-shadow-gold-hover;
  }

  &Button:active {
    background-color: $color-black;
  }
}
