@import "../../assets/scss/mixins/flex.scss";

.preloader {
  @include flexDefault;
  align-items: center;
  justify-content: center;

  &Img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    transform: rotate(0);
    animation: animatePreloader 2s ease-in-out infinite;
  }
}

@keyframes animatePreloader {
  0% {
    transform: none;
  }

  50% {
    transform: rotate(0.5turn);
  }

  0% {
    transform: none;
  }
}
