.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.headerLogoLink {
  display: flex;
  align-items: center;
  height: 100%;
}

.headerLogoImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 10px;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerItem:not(:last-child) {
  margin-right: 30px;
}

.headerLink {
  color: #333333;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.headerLink:hover {
  color: #5757fa;
}
