@import "../../assets//scss/variables.scss";
@import "../../assets/scss/mixins/flex.scss";
@import "../../assets/scss/mixins/text.scss";

.header {
  padding: 40px 0;
  box-shadow: 0 0 20px $color-shadow;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &Wrapper {
    @include flexDefault;
    align-items: center;
    justify-content: space-between;
  }

  &LogoLink {
    @include flexDefault;
    align-items: center;
  }

  &LogoImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  &LogoTitle {
    @include subTitle;
    color: $color-gold;
  }

  &Button {
    @include quote;
    color: $color-white;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 5px 20px;
    background-color: $color-gold;
    box-shadow: 0 5px 10px $color-shadow-gold;
    border-radius: 12px;
    transition: background-color 0.12s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }

  &Button:hover {
    box-shadow: 0 7px 20px $color-shadow-gold-hover;
  }

  &Button:active {
    background-color: $color-black;
  }
}
.headerBlack {
  transition: all 0.2s ease-in-out;
  background-color: $color-black;
}

.headerWhite {
  transition: all 0.2s ease-in-out;
  background-color: $color-white;
}
