@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins/flex.scss";
@import "../../../assets/scss/mixins/text.scss";

.card {
  &Buttons {
    margin-top: auto;
    @include flexDefault;
    align-items: center;
    justify-content: space-between;
  }

  &Content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &Button {
    @include quote;
    color: $color-white;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 3px 20px;
    background-color: $color-gold;
    box-shadow: 0 5px 10px $color-shadow-gold;
    border-radius: 12px;
    transition: background-color 0.12s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
  }

  &Button:hover {
    box-shadow: 0 7px 20px $color-shadow-gold-hover;
  }

  &Button:active {
    background-color: $color-black;
  }
}
