.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: calc((100% - 20px) / 3);
  height: 450px;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.img {
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
  margin-bottom: 15px;
}

.element {
  font-size: 16px;
  margin-bottom: 5px;
}

.linkTo {
  color: #4180ff;
  font-size: 18;
  margin-bottom: 10px;
}

.addCard {
  position: absolute;
  top: 20px;
  right: 20px;
}
