.loginWrapper {
  display: flex;
  align-items: center;
}

.loginSignIn {
  margin-right: 20px;
}

.loginSignIn,
.login {
  color: #333333;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.loginSignIn:hover,
.login:hover {
  color: #5757fa;
}
